---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("September 12,2025")}
	heroImage={AboutHeroImage}
	selectedItem="about"
>
	<p>
		Hello! I'm Wyatt Yuan, a software developer with a passion for creating
		innovative solutions and exploring new technologies. With a background in
		computer science and years of experience in the industry, I specialize in
		web development, particularly using modern frameworks like Astro.
	</p>
	<p>
		In my free time, I enjoy contributing to open-source projects, writing
		technical articles, and experimenting with new programming languages. When
		I'm not coding, you can find me hiking, reading sci-fi novels, or playing
		video games.
	</p>
	<p>
		Feel free to connect with me on GitHub or check out my blog for the latest
		updates on my projects and thoughts on technology.
	</p>
</Layout>
