---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="cn">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			/* Additional Homepage Styles */
			.fold-content-container {
				margin-bottom: 48px;
			}

			.fold-content {
				margin-bottom: 48px;
			}
		</style>
	</head>
	<body>
		<div class="content">
			<Header selectedItem="home" />
			<nav class="main">
				<div class="container">
					<main class="fold-content-container">
						<div class="fold-content">
							<h1>Hi, 我是 Wyatt Yuan.</h1>
							<p class="lead">No content available here yet.</p>
						</div>
						<a href="mailto:Wyatt049@outlook.com" class="button">联系我</a>
					</main>
				</div>
			</nav>
		</div>
	</body>
</html>
